node_modules/
dist-electron/
*.log
.DS_Store
.env
.env.local
.env.production
.vscode/
*.tsbuildinfo
deploy-github.md
build-portable.js
*image*.png
simple-server.js
*.py
dist/
build-all.js
icons/
build-web-only.js
build-portable.js
.amazonq/
_pycache_/
.mypy_cache/
data/*.csv